* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html,
body {
  /* height: 100%; */
  background-color: #fff;
  
}

body {
    display: -ms-flexbox;
    display: flex;
    color: rgb(0, 0, 0);
    /* text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
}

.cover-container {
    max-width: 80em;
  }

h1, h2, h3, h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: .5rem;
}
  

/*
 * Header
 */
 .masthead {
    margin-bottom: 2rem;
  }
  
  .masthead-brand {
    margin-bottom: 20px;
}
  
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #000;
    border-bottom-color: #000;
  }
  
  /* @media (min-width: 48em) {
    .masthead-brand {
      float: left;
    }
    .nav-masthead {
      float: right;
    }
  } */

/* 
* Names
*/

.names {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  margin-top: 15px;
  justify-content: center;
}

section.about {
  text-align: initial;
}


@media only screen and (max-width : 600px) {
.names {
  grid-template-columns: auto auto auto;
  grid-gap: 5px;
  }
}

/* 
* Bios
*/

/* .bio {
  box-shadow: 14px 16px 39px -15px rgba(0, 0, 0, 0.66);
}

.bio:hover {
  cursor: pointer;
	-webkit-transform: scale(1.05, 1.05);
	transform: scale(1.05, 1.05);
	-webkit-transition: all 0.2s ease-in-out;
} */

.angry, .intro_resources {
  font-size: 1.25em;
}


/*
 * Cover
 */
 .cover {
    padding: 0 1.5rem;
  }
  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: block;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 2px;
    word-wrap: break-word;
    background-color: #5d5d5d;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    padding: 10px;
}
  
/* 
* Tweets
*/

.tweets {
  display: inline-flex;
}

.twitter-tweet, .twitter-tweet-rendered {
  position: static;
  visibility: visible;
  display: block;
  transform: rotate(0deg);
  max-width: 100%;
  width: 500px;
  min-width: 220px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.row {
  display: -ms-flexbox;
  display: contents;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

@media only screen and (max-width : 600px) {
  .tweets {
    display: block;
    }
  }

  /* 
  * Resources
  */

  .resources {
    display: grid;
    /* justify-content: flex-start; */
    margin-top: 40px;
  }

  .states {
    font-size: 220%;
  }

  .donation-links {
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    
  }

  @media only screen and (max-width : 600px) {
    .donation-links {
      display: -ms-flexbox;
    display: contents;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }
  }

  @media only screen and (max-width : 768px) {
    .donation-links {
      display: -ms-flexbox;
    display: contents;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    }
  }
  
  /*
   * Footer
   */
  .mastfoot {
    color: rgba(255, 255, 255, .5);
  }

  .inner {
    margin-top: 15px;
    font-size: smaller;
}

footer {
  position: relative; 
  left: 0 ; 
  right: 0; 
  bottom: 0; 
  /* height:[footer-height]  */
}
  