* {
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

html,
body {
  height: 100%;
  background-color: #333;
  
}

body {
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
    max-width: 42em;
  }
  

/*
 * Header
 */
 .masthead {
    margin-bottom: 2rem;
  }
  
  .masthead-brand {
    margin-bottom: 0;
  }
  
  .nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
  }
  
  .nav-masthead .nav-link:hover,
  .nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
  }
  
  .nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
  }
  
  .nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
  }
  
  @media (min-width: 48em) {
    /* .masthead-brand {
      float: left;
    } */
    .nav-masthead {
      float: right;
    }
  }


/*
 * Jumbotron
 */

 /* .jumbotron, .jumbotron-fluid {
    background: url(../assets/IMG_5365.JPG) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 } */

/*
 * Cover
 */
 .cover {
    padding: 0 1.5rem;
  }
  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: table-cell;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 2px;
    word-wrap: break-word;
    background-color: #5d5d5d;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
  
  
  /*
   * Footer
   */
  .mastfoot {
    color: rgba(255, 255, 255, .5);
  }
  